.form-signin .form-floating:focus-within {
    z-index: 2;
}
  
.form-signin input[type="email"],
.form-signup input[type="email"],
.form-signup input[name="name"],
.form-signup input[name="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"],
.form-signup input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signup input[name="username"],
.form-signup input[type="email"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}